.wp-block-stretchypants-grid-gallery {
	display: grid;
	gap: 8px;

	> * {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: 10px;
		overflow: hidden;

		div {
			width: 100% !important;
			height: 100% !important;
			max-width: unset !important;
			max-height: unset !important;
		}

		img {
			display: block !important;
			width: 100% !important;
			height: 100% !important;
			object-position: var(--object-position, 50% 50%) !important;
		}
	}

	img,
	video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.components-resizable-box__handle  {
		display: none !important;
	}
}

@media screen and (max-width: 599px) {
	.wp-block-stretchypants-grid-gallery {
		grid-template-columns: repeat(2, 1fr);

		/* 5 items */
		&:has(> *:nth-of-type(5):last-of-type) {
			> *:nth-of-type(1),
			> *:nth-of-type(4),
			> *:nth-of-type(5) {
				grid-row: span 2;
				aspect-ratio: 1/2;
				-webkit-aspect-ratio: 1/2;
				-moz-aspect-ratio: 1/2;
			}

			> *:nth-of-type(2),
			> *:nth-of-type(3),
			> *:nth-of-type(6) {
				grid-column: 2 / 3;
				aspect-ratio: 1;
				-webkit-aspect-ratio: 1;
				-moz-aspect-ratio: 1;
			}
		}

		/* 6 items */
		&:has(> *:nth-of-type(6):last-of-type) {
			> *:nth-of-type(1),
			> *:nth-of-type(4) {
				grid-row: span 2;
				aspect-ratio: 1/2;
			}

			> *:nth-of-type(5),
			> *:nth-of-type(6) {
				grid-column: 2 / 3;
				aspect-ratio: 1;
			}
		}

		/* 7 items */
		&:has(> *:nth-of-type(7):last-of-type) {
			> *:nth-of-type(1),
			> *:nth-of-type(4) {
				grid-row: span 2;
				aspect-ratio: 1/2;
			}

			> *:nth-of-type(2),
			> *:nth-of-type(3),
			> *:nth-of-type(5),
			> *:nth-of-type(6) {
				grid-column: 2 / 3;
				aspect-ratio: 1;
			}

			> *:nth-of-type(7),
			> *:nth-of-type(8) {
				grid-column: span 2;
				aspect-ratio: 2/1;
			}
		}

		/* 8 items */
		&:has(> *:nth-of-type(8):last-of-type) {
			> *:nth-of-type(1),
			> *:nth-of-type(4),
			> *:nth-of-type(7),
			> *:nth-of-type(8) {
				grid-row: span 2;
				aspect-ratio: 1/2;
			}

			> *:nth-of-type(5),
			> *:nth-of-type(6) {
				grid-column: 2 / 3;
				aspect-ratio: 1;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.wp-block-stretchypants-grid-gallery {
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: repeat(12, 1fr);
		aspect-ratio: 70/29; /* silver ratio */

		> * {
			grid-column: span 6 / auto;
			grid-row: span 6 / auto;
		}

		/* 5 items */
		&:has(> *:nth-of-type(5):last-of-type) {
			> *:nth-of-type(1) {
				grid-area: 1 / 1 / 13 / 7;
			}

			> *:nth-of-type(2) {
				grid-area: 1 / 7 / 13 / 13;
			}

			> *:nth-of-type(3) {
				grid-area: 1 / 13 / 8 / 19;
			}

			> *:nth-of-type(4) {
				grid-area: 8 / 13 / 13 / 19;
			}

			> *:nth-of-type(5) {
				grid-area: 1 / 19 / 13 / 25;
			}
		}

		/* 6 items */
		&:has(> *:nth-of-type(6):last-of-type) {
			> *:nth-of-type(1) {
				grid-area: 1 / 1 / 13 / 7;
			}

			> *:nth-of-type(2) {
				grid-area: 1 / 7 / 13 / 15;
			}

			> *:nth-of-type(3) {
				grid-area: 1 / 15 / 8 / 21;
			}

			> *:nth-of-type(4) {
				grid-area: 8 / 15 / 13 / 21;
			}

			> *:nth-of-type(5) {
				grid-area: 6 / 21 / 13 / 25;
			}

			> *:nth-of-type(6) {
				grid-area: 1 / 21 / 6 / 25;
			}
		}

		/* 7 items */
		&:has(> *:nth-of-type(7):last-of-type) {
			> *:nth-of-type(1) {
				grid-area: 1 / 1 / 13 / 7;
			}

			> *:nth-of-type(2) {
				grid-area: 8 / 7 / 13 / 11;
			}

			> *:nth-of-type(3) {
				grid-area: 8 / 11 / 13 / 15;
			}

			> *:nth-of-type(4) {
				grid-area: 1 / 7 / 8 / 15;
			}

			> *:nth-of-type(5) {
				grid-area: 1 / 15 / 13 / 21;
			}

			> *:nth-of-type(6) {
				grid-area: 1 / 21 / 8 / 25;
			}

			> *:nth-of-type(7) {
				grid-area: 8 / 21 / 13 / 25;
			}
		}

		/* 8 items */
		&:has(> *:nth-of-type(8):last-of-type) {
			> *:nth-of-type(1) {
				grid-area: 1 / 1 / 13 / 7;
			}

			> *:nth-of-type(2) {
				grid-area: 1 / 7 / 6 / 11;
			}

			> *:nth-of-type(3) {
				grid-area: 6 / 7 / 13 / 11;
			}

			> *:nth-of-type(4) {
				grid-area: 1 / 11 / 8 / 15;
			}

			> *:nth-of-type(5) {
				grid-area: 1 / 15 / 8 / 21;
			}

			> *:nth-of-type(6) {
				grid-area: 8 / 11 / 13 / 21;
			}

			> *:nth-of-type(7) {
				grid-area: 1 / 21 / 8 / 25;
			}

			> *:nth-of-type(8) {
				grid-area: 8 / 21 / 13 / 25;
			}
		}
	}
}